<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            name="name"
            ngModel
            type="text"
            id="name"
            class="form-control"
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            name="amount"
            ngModel
            type="number"
            id="amount"
            class="form-control"
            required
            [pattern]="'^[1-9]+[0-9]*$'">
          <!--the same pattern="^[1-9]+[0-9]*$"-->
        </div>
        <div class="col-xs-12">
          <div>{{ editMode ? 'Update' : 'Add' }}</div>
          <!--<input-->
            <!--class="btn btn-success"-->
            <!--type="submit"-->
            <!--[disabled]="!f.valid" [value]="editMode ? 'Update' : 'Add'">-->
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid" >{{ editMode ? 'Update' : 'Add' }}</button>
          <!--<button-->
            <!--class="btn btn-success"-->
            <!--type="submit"-->
            <!--[disabled]="!f.valid" *ngIf="editMode">Update</button>-->
          <!--<button-->
            <!--class="btn btn-success"-->
            <!--type="submit"-->
            <!--[disabled]="!f.valid" *ngIf="!editMode">Add</button>-->
          <button
            *ngIf="editMode"
            class="btn btn-danger"
            type="button"
            (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
